/*Navigacija*/

    .dayspa-meni:hover,nav.dayspa-meni.expanded {
    width:250px;
    overflow:visible;
    }
    .dayspa-meni {
    background:rgba(0, 0, 0, 0.5);
    border-right:1px solid rgb(235,192,125);
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    }
    
    .dayspa-meni>ul {
    margin:7px 0;
    }
    
    .dayspa-meni li {
    position:relative;
    display:block;
    width:250px;
    margin-top:5px;
    margin-bottom:5px;
    
    }
    
    .dayspa-meni li>a {
    position:relative;
    display:table;
    
    border-collapse:collapse;
    border-spacing:0;
    color:white;
    font-family: 'Myriad Pro';
    font-style: italic;
        font-weight: bold;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
        
      
    }
    .dayspa-meni svg {
        padding-bottom: 3px;
    padding-top: 3px;
        fill:white;
    }
    .dayspa-meni svg:hover, .dayspa-meni svg:focus, nav.dayspa-meni li:hover svg {
        fill:black;
    }
    .dayspa-meni .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px!important;
    max-height: 36px!important;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
    
    }
    
    .dayspa-meni .tekst {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
      font-family: 'Titillium Web', sans-serif;
    }
    
    .dayspa-meni>ul.social {
    position:absolute;
    left:0;
    bottom:0;
    }
    
    .no-touch .scrollable.hover {
    overflow-y:hidden;
    }
    
    .no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
    }
    
    a:hover,a:focus {
    text-decoration:none;
    }
    
    nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    }
    
    nav ul,nav li {
        outline:0;
        margin:0;
        padding:0;
        }
    .dayspa-meni li:hover>a,nav.dayspa-meni li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
        color:black;
        background-color:rgb(235,192,125);
        }
    .area {
        float: left;
        background: #e2e2e2;
        width: 100%;
        height: 100%;
        }
    .menikonaklasa g {width:60px;height: 36px;}
    .dayspa-meni svg {max-height: 30px!important;}
    .dsikona-2x {
        font-size: 2em;
        }
    .dsikona {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size:20px;
        line-height: 0.3!important;
        }
    